@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* { margin: 0; padding: 0; font-family: 'NEXON Lv1 Gothic OTF Bold'; }


#hello {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: rgb(170,89,221);
    background: linear-gradient(90deg, rgba(170,89,221,1) 0%, rgba(106,138,232,1) 100%);
    header, footer { height: 10vh; box-sizing: border-box;}
    header { 
        // border-bottom: 1px solid #dbdbdb; 
        display: flex;
        padding: 12px 10px;
        .logo { 
            color : #dbdbdb;
            height: 30px;
            line-height: 30px;
            text-align: center;
            width: 60px;
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 10px; 
        }
        .settings {
            width: 30px;
            height: 30px;
            border-radius: 10px;
            margin-left: auto;
            background-color: rgba(255, 255, 255, 0.2);
            cursor: pointer;
            &:hover {
                background-color: rgba(255, 255, 255, 0.3);
            }
        }
        ul {
            width: 100px;
            height: 70px;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.2);
            position: absolute;
            top: 50px;
            right: 10px;
            li {
                color: #dbdbdb;
                margin: 0 auto;
                width: 100px;
                box-sizing: border-box;
                height: 35px;
                line-height: 35px;
                list-style: none;
                cursor: pointer;
                text-align: center;
                &:first-of-type { border-radius: 10px 10px 0px 0px; border-bottom: 1px solid rgba(255, 255, 255, 0.2);}
                &:last-of-type { border-radius: 0px 0px 10px 10px; }
                &:hover { background-color: rgba(255, 255, 255, 0.3); }
                user-select: none;
            }
        }
    }
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        flex-direction: column;
        .status-wrapper {
            display: none;
            .music-wave-loader {
                height: 20px;
                display: flex;
                align-items: center;
                span {
                    display: block;
                    position: relative;
                    background-color: #f1f1f1;
                    height: 100%;
                    width: 4px;
                    border-radius: 4px;
                    margin: 0 2px;
                    // animation: animate 1s linear infinite;
                    // &:first-of-type { animation-delay: 0s; }
                    // &:nth-of-type(2) { animation-delay: 0.3s; }
                    // &:nth-of-type(3) { animation-delay: 0.6s; }
                    // &:nth-of-type(4) { animation-delay: 0.9s; }
                    // &:nth-of-type(5) { animation-delay: 0.2s; }
                    // &:nth-of-type(6) { animation-delay: 0.5s; }
                    // &:nth-of-type(7) { animation-delay: 0.7s; }

                    
                }
                @keyframes animate {
                    50% {
                        height: 30%;
                    }
                    100% {
                        height: 100%;
                    }
                }
            }
        }
        .control-wrapper{
            width: 90px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            button {
                &:first-of-type { margin-top: 15px; }
                &:last-of-type { margin-top: 10px; }
                height: 35px;
                display: block;
                font-size: 16px;
                color: #dbdbdb;
                background-color: rgba(255, 255, 255, 0.2);
                border: none;
                border-radius: 10px;
                padding: 5px 10px;
                outline: none;
                cursor: pointer;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.3);
                }
            }
        }
    }
    // footer { border-top: 1px solid #dbdbdb; }
    .add-music-wrapper {
        width: 90vw;
        background-color: rgba(255, 255, 255, 0.2);
        margin-top: auto;
        display: flex;
        position: relative;
        left: 50%;
        margin-left: -45vw;
        bottom: 20px;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        padding: 0px 10px;
        box-sizing: border-box;
        input {
            width: 90vw;
            height: 60px;
            font-size: 16px;
            padding: 10px;
            box-sizing: border-box;
            border: none;
            border-radius: 10px;
            outline: none;
            background-color: rgba(255, 255, 255, 0);
            color: #dbdbdb;
            &::placeholder { color: #dbdbdb; }
        }
        .loading-wrapper {
            display: inline-block;
            height: 70px;
            padding-bottom: 10px;
            width: 33.3%;
            position: relative;
            /*margin:0 -4px -5px -2px;*/
            transition: all .2s ease;

            .loading{
                position: relative;
                width: 12px;
                height: 12px;
            
                top: 46%;
                top: -webkit-calc(50% - 6px);
                top: calc(50% - 6px);
                left: 46%;
                left: -webkit-calc(50% - 6px);
                left: calc(50% - 6px);
                
                border-radius: 12px;
                background-color: #fff;
                -webkit-transform-origin:  50% 50%;
                        transform-origin:  50% 50% ;
                -webkit-animation: loading 1s ease-in-out infinite;
                        animation: loading 1s ease-in-out infinite;
            }
            
            .loading:before{
                content: "";
                position: absolute;
                background-color: rgba(255, 255, 255, .5);
                top: 0px;
                left: -25px;
                height: 12px;
                width: 12px;
                border-radius: 12px;
            }
            
            .loading:after{
                content: "";
                position: absolute;
                background-color: rgba(255, 255 ,255 , .5);
                top: 0px;
                left: 25px;
                height: 12px;
                width: 12px;
                border-radius: 12px;
            }
            
            
            @-webkit-keyframes loading{
                0%{-webkit-transform:rotate(0deg);}
                50%{-webkit-transform:rotate(180deg);}
                100%{-webkit-transform:rotate(180deg);}
            }
            
            @keyframes loading{
                0%{transform:rotate(0deg);}
                50%{transform:rotate(180deg);}
                100%{transform:rotate(180deg);}
            }
        }
        .add-result {
            display: none;
            height: 40px;
            &.success { color: rgb(51, 243, 51); }
            &.fail { color: rgb(245, 47, 47); }
        }
        .close-add-music {
            width: 90vw;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border-top: 1px solid rgba(255, 255, 255, 0.2);
            color: #dbdbdb;
            cursor: pointer;
            &:hover { background-color: rgba(255, 255, 255, 0.2);}
        }
    }
    .remove-modal {
        .modal-overlay {
            box-sizing: border-box;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;

            z-index: 999;

        }
        .modal-wrapper {
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 88vw;
            height: 88vh;
            position: fixed;
            left: 50%;
            top: 50%;
            margin-left: -44vw;
            margin-top: -44vh;
            background-color: rgba(255, 255, 255, 0.2);
            z-index: 1000;
            border-radius: 10px;
            .modal-header {
                height: 40px;
                line-height: 40px;
                color: #dbdbdb;
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            }
            .modal-contents {
                ul {
                    &:last-of-type li { border: none; }
                    li { 
                        padding: 0px 35px;
                        list-style: none; 
                        overflow: hidden;
                        color: #dbdbdb;
                        height: 35px;
                        line-height: 35px;
                        background-color: rgba(255, 255, 255, 0.2);
                        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                        &:hover { background-color: rgba(255, 255, 255, 0.2);}
                    }
                    span {
                        position: absolute;
                        right: 8px;
                        width: 20px;
                        color: #dbdbdb;
                        height: 20px;
                        line-height: 20px;
                        border-radius: 10px;
                        margin-top: -28px;
                        background-color: rgba(255, 255, 255, 0.2);
                        cursor: pointer;
                    }
                }
            }
            .modal-footer {
                height: 40px;
                line-height: 40px;
                color: #dbdbdb;
                border-top: 1px solid rgba(255, 255, 255, 0.2);
                margin-top: auto;
                &:hover { background-color: rgba(255, 255, 255, 0.2);}
            }
        }
    }
}